[author]
  email = xxxxx@gmail.com
[user]
  name = Sukhvinder Singh
  email = xxxxx@gmail.com
[push]
  default = current
[core]
  excludesfile = /Users/sukhvinders/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "vimdiff"]
[mergetool "vimdiff"]
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
